#about {
	padding: 0 0 40px 0;
	align-items: center;
}
.about-text {
	width: 400px;
	color: white;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.about-text span {
	color: #333333;
}
.profile-image-wrapper {
	margin: 50px;
	max-width: 300px;
}
h2{
	width: 100%;
}
.profile-photo {
	border-radius: 100%;
	box-shadow: 20px 0px 8px 0 rgba(0, 0, 0, 0.2),
		20px 0px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 56.25em) {
	.profile-image-wrapper {
		margin: 0;
	}
}
