.certificate-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 50px 0;
}

.certificate > img {
	box-shadow: -20px 0px 8px 0 rgba(0, 0, 0, 0.2),
		-20px 0px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 100%;
}
