.btn {
	border-radius: 0px;
	font-weight: bold;
	transition: all 0.7s ease;
	outline: none;
	display: block;
}

.btn:hover {
	cursor: pointer;
}

.btn-large {
	font-size: 1em;
	margin: 2em 0;
	padding: 1em;
}

.btn-small {
	margin: 1rem 0;
	padding: 0.7rem;
	font-size: 1rem;
}

.btn-white {
	color: #02aab0;
	background-color: white;
	border: 2px solid #02aab0;
}

.btn-white:hover {
	color: white;
	background-color: #00cdac;
	border-color: #00cdac;
}

.btn-color {
	color: white;
	border: 2px solid white;
	background-color: transparent;
}

.btn-color:hover {
	color: #00cdac;
	border-color: #00cdac;
	background-color: white;
}
a {
	text-decoration: none;
}
