.project-wrapper {
	margin-top: 1rem;
}
.project-container {
	padding: 1.5rem 0 1rem 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
}
img {
	width: 100%;
}

.text-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 400px;
	min-width: 320px;
}
.image-wrapper {
	min-width: 320px;
	max-width: 500px;
	margin: 0 50px;
}
ul {
	text-align: left;
	margin-left: 30px;
}
li {
}
