h3 {
	text-align: center;
	font-size: 3rem;
}
.project-wrapper{
    margin-top: 1rem;
}
.project-container {
	padding: 1.5rem 0 4rem 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
}
img {
	width: 100%;
}

.text-wrapper {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 400px;
	min-width: 300px;
}
.image-wrapper {
	max-width: 500px;
	min-width: 300px;
}
