* {
	padding: 0px;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

html {
	scroll-behavior: smooth;
}

main {
	color: black;
}

article,
.contact-section {
	color: white;
}

.lin-background {
	background-image: linear-gradient(135deg, #02aab0, #00cdac);
}

h1 {
	font-size: 3.3rem;
	font-weight: 700;
}

h2 {
	text-align: center;
	font-size: 1.9rem;
	padding: 30px 0;
}

h3 {
	font-size: 1.5rem;
	text-align: center;
	width: 100%;
	margin-bottom: 2rem;
}

p {
	padding: 1rem;
	font-size: 1.15em;
	font-weight: 400;
	text-align: center;
}
a {
	text-decoration: none;
}

.flexbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.btn {
	border-radius: 0px;
	font-weight: bold;
	transition: all 0.7s ease;
	outline: none;
}

.btn:hover {
	cursor: pointer;
}

.btn-large {
	font-size: 1em;
	margin: 2em 0;
	padding: 1em;
}

.btn-small {
	margin: 1rem 0;
	padding: 0.7rem;
	font-size: 1rem;
}

.btn-white {
	color: #02aab0;
	background-color: white;
	border: 2px solid #02aab0;
}

.btn-white:hover {
	color: white;
	background-color: #00cdac;
	border-color: #00cdac;
}

.btn-color {
	color: white;
	border: 2px solid white;
	background-color: transparent;
}

.btn-color:hover {
	color: #00cdac;
	border-color: #00cdac;
	background-color: white;
}
